.container {
    position: relative;
    top: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    opacity: 1.5;
    background-color: #68B0AB;
}
.titleContainer {
    position: relative;
    display: flex;
    width: 100%;
    top: 87%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-items: center;
    align-items: center;
}
.title{
    font-family: 'HeaderText';
    margin:auto;
    color: black;
    font-size: 8rem;
    font-weight: 500;
    text-shadow: 6px 4px 8px rgba(112, 112, 112, 0.781);
}
.gg-menu-cheese {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 40px;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-radius: 10px;
    right: 75px; /* Adjust this value to control its distance from the right edge */
    color: #F2D0A4;
}

.gg-menu-cheese::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 75px;
    height: 10px;
    background: currentColor;
    border-radius: 4px;
    top: 5px;
    left: -12px;
    color:#FFA69E;
}
.menuContainer{
    position: absolute;
    top:35%;
    left: 52%;  
    transform: translate(-50%, -50%);
    justify-content: center;
    align-content: center;
}
.menuOptions .menuOption {
    font-family: 'HeaderText';
    width: 200px;
    height:25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    margin-right: 55px;
}
.menuOption:hover {
    font-family: 'HeaderText';
    width: 200px;
    height:25px;
    text-align: center;
    text-decoration: none;
    color: #FFA69E;
    font-size: 25px;
    transition-timing-function: ease;
}


