body{
  background-color: #293241 ;
}

.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height:100vh;
}

.Recipes {
  text-align: right;
  height: 500px;
  width: 90%;
  margin: 5% auto;
  display: flex;
}

.Drinks {
  text-align: right;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.sectionHeading {
  font-family: 'HeaderText';
  width: 55%;
  font-size: 2.5rem;
  color: #98C1D9;
  cursor: pointer;
  text-align: left;
  height: 100%;
}

.Info {
  font-family: 'BodyText';
  font-size: 1.5rem;
  text-align: left;
  color: #b6b6b6;
}
.contentContainer {
  display: flex;
  align-items: flex-start;
  width:185%
}
.textContainer{
  margin: auto 55px;
}

.photoContainer {
  height: 100%;
}

.PastaPic {
  height:500px;
  border-radius: 40px;
  mix-blend-mode: luminosity;
}

.liquorPic {
  width: 500px;
  border-radius: 40px;
  mix-blend-mode: luminosity;
}
.triangleContainer {
  position: relative;
  margin: 20% auto;
  mix-blend-mode: luminosity;
}

.triangle {
  width: 100%; /* Assuming you want the image to fill the container */
  height: auto; /* Maintain aspect ratio */
}

.overlay {
  font-family: 'HeaderText';
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center the text horizontally */
  font-size: 4.5rem;
  color: #FFFF;
}
.uploadInfo{
  font-family: 'HeaderText';
  font-size: 3.2rem;
  color: #b6b6b6 ;
  width:55%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .PastaPic:hover{
  mix-blend-mode:initial;
  transition:ease-in-out ;
}
.liquorPic:hover{
  mix-blend-mode: initial;
}





@media (max-width: 768px) {
  .info-block {
      width: 100%;
  }
}