body{
    background-color: #293241 ;
}

.home-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .Recipes {
    text-align: right; /* Align text to the right */
    height: 500px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the right */
}

.Drinks{
  text-align: left; /* Align text to the right */
  height: 500px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.sectionHeading {
    font-family: 'HeaderText';
    width: 55%;
    font-size: 2.5rem;
    color: #98C1D9;
    cursor: pointer;
    text-align: left; /* Align text to the right */
    height: 100%;
    width: 55%;
}
  

  .Info {
    font-family: 'BodyText';
    font-size: 1.5rem;
    text-align: left;
    color: #b6b6b6 ;
    width: 65%;
    margin: 10px;
  }

  .triangleContainer {
    position: relative;
    display: inline-block;
    filter:sepia(50%)
  }
  
  .triangle {
    width: 100%; /* Assuming you want the image to fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block;
  }
  
  .overlay {
    font-family: 'HeaderText';
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center the text horizontally */
    font-size: 4.5rem;
    color: #FFFF;
  }

@media (max-width: 768px) {
    .info-block {
        width: 100%;
    }
}
