.home-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 75%;
    margin: 0 auto; /* Center the container horizontally */
}

.info-block {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: #8FC0A9;
    height: 225px;
}

.sectionHeading {
    font-family: 'HeaderText';
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 0;
}
.Info{
    display: inline-block;
    width: 75%;
    font-size: 22px;
    margin-top:0;
    font-weight:4000;
}

@media (max-width: 768px) {
    .info-block {
        width: 100%;
    }
}
